html {
    background-color: azure;
    
}

body {
    text-align: center;
    margin: 0px;
    font-family: 'Indie Flower', cursive;
    font-size: 150%;
  
}

.header {
    text-align: center;
    background-color: #55CBCD;
    padding-left: 10;
    padding-right: 10;
    padding-top: 3;
    padding-bottom: 3;
    color: azure;
}

.gameArea {
    list-style-type: square;
    background-color: #D4F0F0;
    margin-left: 431.578;
    margin-right: 431.578;
    padding-top: 10;
    padding-bottom: 20;
    border-radius: 5%;
    
}

br {
    margin-bottom: 100;
    margin-top: 100;
}

.number {
    
    border-radius: 90%;
    background-color: #D4F0F0;
    margin-left: 631.578;
    margin-right: 631.578;
    padding-top: 20;
    padding-bottom: 20;
    height: 5%;
}

.btn {
    background-color: #55CBCD;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 7px;
}

.textarea {
    margin-bottom: 20rem;
    height: 10cm;
}

.guess {
    border-radius: 7px;
    height: 50px;
    width: 110px;
}

table {
    display: flex;
    justify-content: center;
}

#guessing-game-section {
    position:fixed;
    top:110px;
    bottom:0;
    left:0;
    right:0;

}
  